* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

.main {
    margin: 0 auto;
    height: 100%;
    width: 100%
}

.header {
    width: 100%;
    height: 10%;
    background: #2196f3;
}

#logo {
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}

.content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background: silver;
}

.left {
    background: #607d8b;
    flex: 1;
}

.center {
    flex: 2;
    background: #607d8b;
}

.right {
    background: #607d8b;
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    background: #69f0ae;
    display: flex;
}

#foot {
    flex: 4;
    line-height: 50px;
    text-align: right;
    letter-spacing: 1px;
    padding-right: 5px;
    font-size: 15px;
}

#thanks {
    flex: 4;
    line-height: 50px;
    padding-left: 5px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 15px;
}

#mid-head,
#left-one,
#left-two,
#right-one,
#right-two {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: chartreuse;
    text-shadow: 2px 2px 5px teal;
    font-size: 15px;
}

.center,
.left,
.right {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.one {
    border-bottom: 2px dashed white;
}

.one,
.two {
    flex: 1;
}

.center .sec,
.right .sec {
    flex: 1;
}

.dataE {
    font-size: 25px;
    text-align: center;
    margin: 0 40%;
    color: #00b0ff;
}

.datatextE {
    font-size: 20px;
    color: white;
}

.dataW {
    text-align: center;
    font-size: 18px;
    color: #00b0ff;
}

.datatextW {
    font-size: 15px;
    color: white;
}

.dataI {
    text-align: center;
    font-size: 18px;
    color: #00b0ff;
}

.datatextI {
    font-size: 15px;
    color: white;
}

.dataTN {
    text-align: center;
    font-size: 18px;
    color: #00b0ff;
}

.datatextTN {
    font-size: 15px;
    color: white;
}

.dataTop {
    text-align: center;
    font-size: 18px;
    color: #00b0ff;
}

.datatextTop {
    font-size: 15px;
    color: white;
}

h5 {
    text-align: center;
}

.heading {
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    #foot {
        font-size: 10px;
    }
    #thanks {
        font-size: 10px;
    }
    .dataE {
        font-size: 10px;
        text-align: center;
    }
    .datatextE {
        font-size: 10px;
    }
    .dataW {
        text-align: center;
        font-size: 10px;
    }
    .datatextW {
        font-size: 10px;
    }
    .dataI {
        text-align: center;
        font-size: 10px;
    }
    .datatextI {
        font-size: 10px;
    }
    .dataTN {
        text-align: center;
        font-size: 10px;
    }
    .datatextTN {
        font-size: 10px;
    }
    .dataTop {
        text-align: center;
        font-size: 10px;
    }
    .datatextTop {
        font-size: 10px;
    }
}